/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  padding: 0px;
  margin-top: 30px;
  border: 0px;
  border-radius: 4px;
  font-family: roboto;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.modal__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
}

.modal__btn-close:focus,
.modal__btn-close:hover {
  cursor: pointer;
}

.modal__btn-close__icon {
  width: 11px;
  height: 11px;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover .modal__btn-close__icon,
.modal__btn-close:focus .modal__btn-close__icon {
  fill: #2196f3;
}

.modal__form__btn-submit {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.link-categories {
  background-color: #f5f4fa;
  color: #212121;
  font-family: roboto;
  font-weight: 500;
  line-height: 1.62;
  border-width: 0px;
  border-radius: 4px;
  padding: 0px;
  transform: rotateY(0deg);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.link-categories:hover,
.link-categories:focus {
  background-color: #2196f3;
  color: #ffffff;
  transform: rotateY(360deg);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), color 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 1000ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.link-all {
  width: 73px;
  height: 38px;
}

.link-web {
  width: 128px;
  height: 38px;
}

.link-annexes {
  width: 145px;
  height: 38px;
}

.link-design {
  width: 103px;
  height: 38px;
}

.link-marketing {
  width: 130px;
  height: 38px;
}

.logo-header {
  display: inline-block;
  font-family: raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .logo-header {
    margin-top: 16px;
    margin-left: 15px;
  }
}

@media (min-width: 1200px) {
  .logo-header {
    font-size: 26px;
  }
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #212121;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu {
    margin-left: 88px;
  }
}

@media (min-width: 1200px) {
  .menu {
    margin-left: 93px;
  }
}

.list-menu {
  display: flex;
  align-items: center;
}

.item-menu {
  display: flex;
  align-items: center;
  height: 80px;
}

.item-menu:not(:last-child) {
  margin-right: 50px;
}

.link-menu {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-family: roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-studia {
  position: relative;
  color: #2196f3;
}

.link-studia::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
}

.link-menu:hover,
.link-menu:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .list-contacts {
    display: none;
  }
}

@media (min-width: 1200px) {
  .list-contacts {
    display: flex;
    margin-left: auto;
  }
}

.list-contacts > .item-contacts {
  margin-left: 84px;
}

@media (min-width: 1200px) {
  .list-contacts > .item-contacts + .item-contacts {
    margin-left: 50px;
  }
}

.link-contacts:hover .icon-contacts,
.link-contacts:focus .icon-contacts {
  fill: currentColor;
}

.icon-contacts {
  fill: #212121;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  color: #757575;
  font-family: roboto;
  font-weight: 500;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .link-contacts {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    color: #212121;
  }
}

.link-contacts:hover,
.link-contacts:focus {
  color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 221px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0);
}

.modal {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    line-height: 1.17;
  }
}

.modal-heading {
  font-family: roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #212121;
  margin: 0px 0px 12px 0px;
}

@media (min-width: 1200px) {
  .modal-heading {
    line-height: 1.17;
  }
}

.filling-form {
  width: 100%;
}

.field-container {
  position: relative;
}

.field-container__label {
  display: block;
  text-align: left;
  font-family: roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

.field-container__label-margin {
  margin-top: 10px;
}

.modal__form__field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 0;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form__icon {
  position: absolute;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form__icon-name {
  top: 32px;
  left: 15px;
}

.modal__form__icon-tel {
  top: 31.26px;
  left: 14.27px;
}

.modal__form__icon-email {
  top: 32px;
  left: 13.5px;
}

.modal__form__field:hover,
.modal__form__field:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal__form__field:hover + .modal__form__icon,
.modal__form__field:focus + .modal__form__icon {
  fill: #2196f3;
}

.modal__form__field-comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  font-family: roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

.field-contract {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.label-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.checkbox-container {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 1px;
}

.checkbox-icon {
  display: none;
}

.checkbox:checked + .checkbox-container {
  background-color: #2196f3;
  border: 0;
}

.checkbox:checked + .checkbox-container > .checkbox-icon {
  display: block;
  background-size: contain;
}

.acceptance-conditions {
  font-family: roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 7px;
}

@media (min-width: 1200px) {
  .acceptance-conditions {
    font-size: 14px;
  }
}

.link-contract {
  color: #2196f3;
  text-decoration: underline;
}

.icon-container {
  max-width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.list-team-link {
  display: flex;
  margin-top: 16px;
  margin-right: -10px;
}

.item-team-link {
  flex-basis: calc(100% / 4 - 10px);
  max-width: 44px;
  max-height: 44px;
  margin-right: 10px;
}

.icon-team-link {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover,
.link-icon:focus {
  background-color: #2196f3;
}

.link-icon:hover .icon-team-link,
.link-icon:focus .icon-team-link {
  fill: #ffffff;
}

.icon-clients {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-clients {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

@media screen and (max-width: 479px) {
  .list-clients {
    margin-right: 0;
  }
}

.item-clients {
  margin-right: 30px;
}

@media screen and (max-width: 479px) {
  .item-clients {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 480px) {
  .item-clients {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media (min-width: 768px) {
  .item-clients {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media (min-width: 1200px) {
  .item-clients {
    flex-basis: calc(100% / 6 - 30px);
  }
}

@media screen and (max-width: 479px) {
  .item-clients:nth-child(n + 2) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .item-clients:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item-clients:nth-child(n + 4) {
    margin-top: 30px;
  }
}

.link-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .link-clients {
    width: 226px;
  }
}

@media (min-width: 1200px) {
  .link-clients {
    width: 170px;
  }
}

.link-clients:hover,
.link-clients:focus {
  border-color: #2196f3;
}

.link-clients:hover .icon-clients,
.link-clients:focus .icon-clients {
  fill: #2196f3;
}

.mobile-menu-container {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu-container {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ececec;
    background-color: #ffffff;
    height: 397px;
    z-index: 5;
  }
  .mobile-menu-container.is-open {
    display: block;
  }
}

.list-mobile-menu {
  margin-top: 60px;
}

.item-mobile-menu {
  margin-bottom: 52px;
}

.item-mobile-menu__link-st {
  padding-bottom: 8px;
  font-family: roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.item-mobile-menu__link-st:hover,
.item-mobile-menu__link-st:focus {
  color: #2196f3;
}

.list-mobile-contact {
  margin-top: 60px;
}

.mobile-contacts {
  display: inline-block;
  color: #757575;
  font-family: roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.mobile-contacts {
  margin-bottom: 16px;
}

.mobile-contacts:hover,
.mobile-contacts:focus {
  color: #2196f3;
}

.btn-mobile {
  display: none;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;
  outline: none;
}

@media screen and (max-width: 767px) {
  .btn-mobile {
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    margin-right: 25px;
    margin-top: 21px;
    z-index: 10;
  }
  .btn-mobile .close-icon-mobile-menu {
    display: none;
  }
  .btn-mobile.is-open .close-icon-mobile-menu {
    display: block;
  }
  .btn-mobile.is-open .open-icon-mobile-menu {
    display: none;
  }
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .container-menu {
    display: flex;
    justify-content: space-between;
    max-width: 767px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .container-menu {
    display: flex;
    align-items: center;
    max-width: 767px;
    height: 79px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .container-menu {
    display: flex;
    align-items: center;
    max-width: 1200px;
  }
}

.container-menu:after {
  border: 1px solid #ececec;
}

.service-order {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .service-order {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/mobile/hero-img.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/hero-img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile/hero-img.jpg);
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .service-order .service-order {
    background-image: url(../images/hero/mobile/hero-img_2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .service-order {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/tablet/hero-img.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/hero-img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet/hero-img.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .service-order .service-order {
    background-image: url(../images/hero/tablet/hero-img_2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .service-order {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/desctop/hero-img.jpg);
    background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desctop/hero-img.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desctop/hero-img.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .service-order .service-order {
    background-image: url(../images/hero/desctop/hero-img_2x.jpg);
  }
}

.container-service-order {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container-service-order {
    max-width: 1199px;
    padding-left: 204px;
    padding-right: 204px;
  }
}

@media (min-width: 1200px) {
  .container-service-order {
    max-width: 696px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .service-order-text {
    color: #ffffff;
    font-family: roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .service-order-text {
    color: #ffffff;
    font-family: roboto;
    font-weight: 900;
    line-height: 1.36;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

.description {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .description {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media (min-width: 480px) {
  .list-description {
    display: block;
  }
}

@media (min-width: 768px) {
  .list-description {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -30px;
  }
}

@media (min-width: 1200px) {
  .list-description {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -30px;
  }
}

@media screen and (max-width: 767px) {
  .item-description {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .item-description {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .item-description {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.item-description::before {
  content: '';
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.item-description:nth-child(1)::before {
  background-image: url(../images/icons/antenna.svg);
}

.item-description:nth-child(2)::before {
  background-image: url(../images/icons/clock.svg);
}

.item-description:nth-child(3)::before {
  background-image: url(../images/icons/diagram.svg);
}

.item-description:nth-child(4)::before {
  background-image: url(../images/icons/astronaut.svg);
}

.description {
  background-color: #ffffff;
}

.description-heading {
  color: #212121;
  font-family: roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.description-text {
  color: #757575;
  font-family: roboto;
  font-weight: 400;
  line-height: 1.71;
}

.about {
  display: none;
}

@media (min-width: 1200px) {
  .about {
    display: block;
    padding-bottom: 94px;
  }
}

.about-img {
  width: 370px;
  height: 294px;
}

.about-thumb {
  position: relative;
}

.about-thumb > .about-img-overlay {
  position: absolute;
  bottom: 0;
  display: block;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding-top: 27px;
}

.about-img-heading {
  font-family: roboto;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

.about-heading {
  color: #212121;
  font-family: roboto;
  font-weight: 700;
  line-height: 1.17;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.list-about {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -30px;
}

.item-about {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.team-container {
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@media (min-width: 480px) {
  .team-img {
    width: 450px;
    height: 460px;
  }
}

@media (min-width: 768px) {
  .team-img {
    width: 354px;
    height: 374px;
  }
}

@media (min-width: 1200px) {
  .team-img {
    width: 270px;
    height: 260px;
  }
}

.team {
  width: 100%;
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .list-team {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -30px;
  }
}

@media screen and (min-width: 480px) {
  .item-team {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .item-team:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .item-team:nth-child(n + 3) {
    margin-top: 30px;
  }
}

.team-heading {
  color: #212121;
  font-family: roboto;
  font-weight: 700;
  line-height: 1.17;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .team-heading {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.worker-name {
  color: #212121;
  font-family: roboto;
  font-weight: 500;
  line-height: 1.17;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

.worker-position {
  color: #757575;
  font-family: roboto;
  font-weight: 400;
  line-height: 1.17;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-heading {
  color: #212121;
  font-family: roboto;
  font-weight: 700;
  line-height: 1.17;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .clients-heading {
    margin-bottom: 50px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer-container {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet-container {
    display: flex;
    align-items: baseline;
  }
}

@media (min-width: 480px) {
  .footer-contacts {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contacts {
    display: block;
    width: 232px;
    margin-left: 61px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .footer-contacts {
    margin-left: 0px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .footer-section-link {
    display: inline-block;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .footer-section-link {
    display: block;
    width: 206px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: 74px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .footer-section-link {
    margin-left: 70px;
    margin-right: 0px;
    margin-top: 12px;
    text-align: left;
  }
}

.footer-link-map {
  display: inline-block;
  margin-top: 20px;
  color: #ffffff;
  font-family: roboto;
  font-weight: 400;
  line-height: 1.17;
  font-size: 14px;
  font-style: normal;
}

.footer-link-map:hover,
.footer-link-map {
  color: #ffffff;
}

.footer-link-contacts {
  display: inline-block;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-family: roboto;
  font-weight: 400;
  line-height: 1.17;
  font-size: 14px;
  font-style: normal;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .footer-link-contacts {
    margin-top: 9px;
  }
}

.footer-link-contacts:hover,
.footer-link-contacts:focus {
  color: #2196f3;
}

.logo-studio-footer {
  color: #ffffff;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.67;
  font-size: 24px;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
  }
}

.footer-heading-social {
  color: #ffffff;
  font-family: roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.footer-list-link {
  display: flex;
  margin-top: 20px;
  margin-right: -10px;
}

.footer-item-link {
  flex-basis: calc(100% / 4 - 10px);
  max-width: 44px;
  max-height: 44px;
  margin-right: 10px;
}

.link-icon-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon-footer:hover,
.link-icon-footer:focus {
  background-color: #2196f3;
}

.icon-footer-link {
  fill: #ffffff;
}

.subscription {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  text-align: center;
}

@media (min-width: 1200px) {
  .subscription {
    margin-left: auto;
    margin-right: 0;
    margin-top: 12px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .subscription__form {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
}

.subscription__form__field {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 450px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 479px) {
  .subscription__form__field {
    width: 100%;
    max-width: 450px;
  }
}

@media (min-width: 1200px) {
  .subscription__form__field {
    width: 358px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.subscription__form__button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .subscription__form__button {
    margin-left: 12px;
    margin-right: 0;
  }
}

.subscription__form__field__icon {
  fill: #ffffff;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */