@import './utils/variables';
@import './base/fonts';
@import './base/common';
@import './components/buttons';
@import './components/logo';
@import './components/menu';
@import './components/contacts';
@import './components/social-icons';
@import './layouts/sections';
@import './layouts/header';
@import './layouts/footer';
@import './layouts/footer-contacts';
@import './layouts/footer-social-icons';
@import './layouts/footer-subscription';
@import './components/subscription-form';
@import './layouts/categories';
@import './components/link-portfolio-box';
@import './layouts/portfolio';

.portfolio {
  padding-bottom: 94px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: -30px;
}

.item-portfolio {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}

.item-portfolio:not(.an-exception) {
  margin-top: 30px;
}
