.icon-clients {
  fill: $clients;
  transition: fill 250ms $animation-timing;
}
.list-clients {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.item-clients {
  @include for-size(mobile) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }

  @include for-size(tablet) {
    flex-basis: calc(100% / 3 - 30px);
  }

  &:nth-child(n + 3) {
    @media screen and(min-width: 480px) and(max-width: 767px) {
      margin-top: 30px;
    }
  }
}

.item-clients:nth-child(n + 4) {
  @media screen and(min-width: 780px) and(max-width: 1199px) {
    margin-top: 30px;
  }
}

.link-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  border: 1px solid $clients;
  border-radius: 4px;
  transition: border-color 250ms $animation-timing;

  @include for-size(tablet) {
    width: 226px;
  }

  @include for-size(desctop) {
    width: 170px;
  }
}

.link-clients:hover,
.link-clients:focus {
  border-color: $blue;
}

.link-clients:hover .icon-clients,
.link-clients:focus .icon-clients {
  fill: $blue;
}
