.list-contacts {
  @media screen and(max-width:767px) {
    display: none;
  }

  @include for-size(desctop) {
    display: flex;
    margin-left: auto;
  }
}

.list-contacts > .item-contacts {
  margin-left: 84px;
}

.list-contacts > .item-contacts + .item-contacts {
  @include for-size(desctop) {
    margin-left: 50px;
  }
}

.link-contacts:hover .icon-contacts,
.link-contacts:focus .icon-contacts {
  fill: currentColor;
}

.icon-contacts {
  fill: $black;
  margin-right: 10px;
  transition: fill 250ms $animation-timing;
}

.link-contacts {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  color: rgba(117, 117, 117, 1);
  font-family: roboto;
  font-weight: 500;
  line-height: 1.17;
  transition: color 250ms $animation-timing;

  @include for-size(desctop) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    color: $black;
  }
}

.link-contacts:hover,
.link-contacts:focus {
  color: $blue;
}
