.logo-header {
  display: inline-block;
  // width: 145px;
  // height: 31px;
  font-family: raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and(max-width: 767px) {
    margin-top: 16px;
    margin-left: 15px;
  }

  @include for-size(desctop) {
    font-size: 26px;
  }
}

.logo-web {
  color: $blue;
}

.logo-studio {
  color: $black;
}
