.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 93px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms $animation-timing;
  overflow-y: scroll;
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0);
}

.modal {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  width: 100%;
  background-color: $white;
  text-align: center;
  transform: scale(1);
  transition: transform 500ms $animation-timing;

  @include for-size(mobile) {
    width: 450px;
  }

  @include for-size(desctop) {
    width: 528px;
    line-height: 1.17;
  }
}

.modal-heading {
  font-family: roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(33, 33, 33, 1);
  margin: 0px 0px 12px 0px;

  @include for-size(desctop) {
    line-height: 1.17;
  }
}
