.icon-container {
  max-width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.list-team-link {
  display: flex;
  margin-top: 16px;
  margin-right: -10px;
}

.item-team-link {
  flex-basis: calc(100% / 4 - 10px);
  max-width: 44px;
  max-height: 44px;
  margin-right: 10px;
}

.icon-team-link {
  fill: $clients;
  transition: fill 250ms $animation-timing;
}

.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: $animation-timing;
}

.link-icon:hover,
.link-icon:focus {
  background-color: $blue;
}

.link-icon:hover .icon-team-link,
.link-icon:focus .icon-team-link {
  fill: $white;
}
