$black: #212121;
$light-grey: #757575;
$blue: #2196f3;
$white: #ffffff;
$background-dark-grey: #2f303a;
$background-light-grey: #f5f4fa;
$clients: #afb1b8;
$blue-overlay: rgba(33, 150, 243, 0.9);

$animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
