.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-heading {
  color: $black;
  font-family: roboto;
  font-weight: 700;
  line-height: 1.17;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
