.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desctop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-heading {
  color: $black;
  font-family: roboto;
  font-weight: 700;
  line-height: 1.17;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;

  @include for-size(desctop) {
    margin-bottom: 50px;
  }
}
