// .footer-section-link {
//   margin-left: auto;
//   margin-right: auto;

//   @include for-size(desctop) {
//     margin-left: 70px;
//     margin-top: 12px;
//   }
// }

.footer-heading-social {
  color: $white;
  font-family: roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.footer-list-link {
  display: flex;
  margin-top: 20px;
  margin-right: -10px;

  @include for-size(desctop) {
    // margin-top: ;
  }
}

.footer-item-link {
  flex-basis: calc(100% / 4 - 10px);
  max-width: 44px;
  max-height: 44px;
  margin-right: 10px;
}

.link-icon-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: $animation-timing;
}

.link-icon-footer:hover,
.link-icon-footer:focus {
  background-color: $blue;
}

.icon-footer-link {
  fill: $white;
}
