.subscription {
  @include for-size(mobile) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-align: center;
  }

  @include for-size(tablet) {
    margin-left: auto;
    margin-right: auto;
  }

  @include for-size(desctop) {
    margin-left: auto;
    margin-right: 0;
    margin-top: 12px;
    text-align: left;
  }
}
