.service-order {
  background-color: $background-dark-grey;
  padding-top: 200px;
  padding-bottom: 200px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // max-width: 100%;
  // height: auto;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width: 480px) and(max-width: 767px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero/mobile/hero-img.jpg);
    background-image: -o-linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/mobile/hero-img.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/mobile/hero-img.jpg);
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/mobile/hero-img_2x.jpg);
    }
  }

  @media screen and(min-width: 768px) and(max-width: 1199px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero/tablet/hero-img.jpg);
    background-image: -o-linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/tablet/hero-img.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/tablet/hero-img.jpg);
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/tablet/hero-img_2x.jpg);
    }
  }

  @media screen and(min-width: 1200px) {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero/desctop/hero-img.jpg);
    background-image: -o-linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/desctop/hero-img.jpg);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/desctop/hero-img.jpg);
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/hero/desctop/hero-img_2x.jpg);
    }
  }
}

.container-service-order {
  display: flex;
  flex-wrap: wrap;
  max-width: 360px;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(tablet) {
    max-width: 1199px;
    padding-left: 204px;
    padding-right: 204px;
  }

  @include for-size(desctop) {
    max-width: 696px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.service-order-text {
  @media screen and (max-width: 1199px) {
    color: $white;
    font-family: roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  @include for-size(desctop) {
    color: $white;
    font-family: roboto;
    font-weight: 900;
    line-height: 1.36;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}
